name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: HandcrankEngine/install-emscripten-package@v0.1.0

      - name: Build WebGL
        run: |
          source ./emsdk/emsdk_env.sh
          ./bin/build-web.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          path: ./build
          overwrite: true
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download all build
        uses: actions/download-artifact@v6.0.0
        with:
          path: build/

      - name: Download Butler
        run: |
          curl -L -o butler.zip https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default
          unzip butler.zip
          chmod +x butler
          ./butler -V

      - name: Push to Itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        run: |
          ./butler push ./build/web scottdoxey/pong-demo:html5
